<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title> To Do List </title>
</head>

<body>
    <object data="./Nav/Nav.html" width="100%">

    </object>

    <object data="./Letter/Letter.html" width="100%" height="160vh" class="letter">

    </object>
    <!-- <div class="containerWeek">
        <div class="Curso">
            <a href="./index2.html">
                <h3 class="Subtitulo">Lunes</h3>
                <img src="./img/playa.png" alt="">
            </a>
        </div>

        <div class="Curso">
            <a href="./index2.html">
                <h3 class="Subtitulo">Lunes</h3>
                <img src="./img/playa.png" alt="">
            </a>
        </div>
    </div> -->
    <footer class="footer">
        <div class="containerF">
            <p> Todos los derechos reservados 2023 </p>
        </div>
    </footer>
</body>

</html>