<link rel="stylesheet" href="Letter.css">
<div class="container">

    <a href="index2.html ">
        <div class="Curso">
            <h3 class="Subtitulo"> Lunes </h3>
            <img src="/components/sol.png" alt="sol" class="rotating-image">
        </div>
    </a>

    <a href=" ">
        <div class="Curso">
            <h3 class="Subtitulo"> Martes </h3>
            <img src="/components/sol.png" alt="sol" class="rotating-image">
        </div>
    </a>

    <a href=" ">
        <div class="Curso">
            <h3 class="Subtitulo"> Miercoles </h3>
            <img src="/components/sol.png" alt="sol" class="rotating-image">
        </div>
    </a>

    <a href=" ">
        <div class="Curso">
            <h3 class="Subtitulo"> Jueves </h3>
            <img src="/components/sol.png" alt="sol" class="rotating-image">
        </div>
    </a>

    <a href=" ">
        <div class="Curso">
            <h3 class="Subtitulo"> Viernes </h3>
            <img src="/components/sol.png" alt="sol" class="rotating-image">
        </div>
    </a>

    <a href=" ">
        <div class="Curso">
            <h3 class="Subtitulo"> Sabado </h3>
            <img src="/components/sol.png" alt="sol" class="rotating-image">
        </div>
    </a>

</div>